input::placeholder {
    border: 0;
    color: rgb(var(--ig-secondary-text));
    font: inherit;
    font-size: var(--system-12-font-size);
    height: 36px;
    left: 8px;
    line-height: 36px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    transform-origin: left;
    transition: transform ease-out .1s;
    -webkit-user-select: none;
    vertical-align: baseline;
    white-space: nowrap;
}
